/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 oct. 2021, 21:57:07
    Author     : jp015
*/
.fondo
{
    -fx-background-color: #4F6784;
}
.fondo2
{
    -fx-background-color: #364F6B;
}
.fondoFactura{
    -fx-background-color: #90AACB;
}
.button
{
    -fx-background-color: #3FC1C9;
    -fx-text-fill: #F5F5F5;
    -fx-background-radius: 100;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-size: 22;
}
.jfx-ToggleButton{
    -fx-font-size: 16;
    -fx-text-fill: #ffffff;
    -fx-toggle-color: #ffffff;
}
.check-box{
    -fx-text-fill: #FFFFFF;
}
.jfx-btnimg-tbveliminar{
    -fx-opacity: 0.8;
    -fx-background-position: center;
    -fx-background-radius: 1;
    -fx-background-color: #cccccc;
    -fx-font-size: 15;
}
.button:hover
{
    -fx-font-size: 20;
    -fx-background-color: #3fe7cc;
}
.button:armed
{
    -fx-text-fill: #F9D5A7;
}
.text-field 
{
    -fx-font-size: 15;
    -fx-text-fill: #000000;
    -fx-background-color: #D6E0F0;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused 
{
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.label
{
    -fx-font-size: 16;
    -fx-text-fill: #ffffff;
}
.titulo{
    -fx-background-color: FFB085;
    -fx-opacity: 0.8;
    -fx-font-size: 24.0px;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: white;
    -fx-font-weight: bold; 
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0.0, 1, 2);
    -fx-background-radius: 30;
}
.table-view{
    -fx-background-color: D6E0F0;
}

.table-view:focused{
    -fx-background-color: D6E0F0;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header 
{
    -fx-background-color: D6E0F0;
}

.table-view .table-cell
{
    -fx-text-fill: white;
}

.table-row-cell
{
    -fx-background-color: -fx-table-cell-border-color, #616161;/*IMPARES*/
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd
{
    -fx-background-color: -fx-table-cell-border-color, #424242;/*PARES*/
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-column 
{
    -fx-alignment: CENTER;
}

.combo-box{
    -fx-background-color: #D6E0F0;
    -fx-font-size: 20.0px;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}
.jfx-combo-box .cell {
	-fx-pref-height: 40px;
}

.text-area{
    -fx-background-color: #D6E0F0;
}
.scrollpane
{
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-radius: 50;
}
.item
{
    -fx-background-color: #4D4A68;
    -fx-background-radius: 30;
}
.barra-derecha
{
    -fx-background-color: #4F6784;
}
.JFXList-View:filled:selected:focused, .JFXList-Viewl:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: #000000;
}

.JFXList-View:even { /* <=== changed to even */
    -fx-background-color: white;

}

.JFXList-View:filled:hover {
    -fx-background-color: #cccccc;
    -fx-text-fill: #000000;
}